@keyframes hoverNavigation {
    from {text-decoration: none;}
    to {text-decoration: underline;}
}

.notifyNavigation {
    padding: 0px;
    margin: 0px;
}

.notifyNavigation ul {
    list-style: none;
    padding: 2px;
    margin: 2px;
} 
.notifyNavigation li {
    float: left;
    padding: 16px 32px; 
    background: #0F8CA1;
    color: #FFF;
}



.notifyNavigation li:hover
{
    animation-name: hoverNavigation;
    animation-duration: 4s;
} 
