.notifyNavigation {
    padding: 0px;
    margin: 0px;
    width: auto;
}

.notifyNavigation ul {
    list-style: none;
    padding: 2px;
    margin: 2px;
} 
.notifyNavigation li {
    float: left;
    padding: 16px 32px; 
    background: #0F8CA1;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.notifyNavigation a {
    font-size:20px;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.5s;
}

.notifyNavigation a:link, a:visited
{
    text-decoration: none;
    color: #FFF;
}

.notifyNavigation a:hover
{
    border-color:#FFF;
} 
.notifyNavigation a:focus
{
    font-weight: bold;
    border-bottom: 2px solid #FFF;
} 
